html {
	height:100%;
	width:100%;
	margin:0px;
}
body {
	height:100%;
	width:100%;
	margin:0px;
	background-color:#acf;
	text-align:center;
}
div {
	position:relative;
	margin:10px auto;
}
#whole_div {
	font-size:30px;
}
.intro {
	font-size:30px;
	font-family:TW-Kai,TW-Kai-Ext-B,TW-Kai-Plus,HanaMinA,HanaMinB,HanaMinPlus,MingLiU,MingLiU-ExtB,Serif;
}
#title {
	font-size:80px;
	border-bottom:2px solid black;
}
#mid-content {
	width:100%;
	text-align:center;
}
#content {
	width:80%;
	padding:4%;
	text-align:left;
	background-color:#caa;
}
#content_table {
	display:inline-block;
	border:1px solid black;
	border-collapse:collapse;
}
#content_table td{
	border:1px solid purple;
	padding:10px;
}
.font_Kai {
	font-family:TW-Kai,TW-Kai-Ext-B,TW-Kai-Plus,DFKai-SB,Serif;
}
.font_Sung {
	font-family:TW-Sung,TW-Sung-Ext-B,TW-Sung-Plus,MingLiU,MingLiU-ExtB,Serif;
}
.font_Hei {
	font-family:HanaMinA,HanaMinB,HanaMinPlus,Microsoft JhengHei,Serif;
MingLiU,MingLiU-ExtB
}
