#aside_div {
	position:relative;
	float:right;
	width:100%;
	max-width:450px;
	background-image:url(pictures/index/aside_bg.png);
}
#aside_div_update, #aside_div_funny, #aside_div_download {
	position:relative;
	width:100%;
}
.aside_div_title {
    position:absolute;
    width:60px;
    height:180px;
	right:10px;
	top:0px;
	color:#fff;
	background-image:url("pictures/index/aside_title_bg2.png");
	z-index:88;
}
.aside_div_content {
    position:relative;
    margin:40px 20px 20px 15px;
    padding:20px 60px 20px 10px;
	border-top:3px solid #303304;
}
#aside_img1 {
	width:100%;
}
#intro_whole, #map_whole, #fit_whole {
    position:relative;
	float:left;
	margin:20px 0px 0px 0px;
	padding-left:20px;
	background-image:url("pictures/index/content_lb.png");
	background-repeat:no-repeat;
	background-position:bottom left;
}
.content_title {
    position:absolute;
    width:60px;
    height:180px;
	right:10px;
	top:0px;
	z-index:88;
}
#intro_content_title {
	background-image:url("pictures/index/content_title_bg2.png");
}
#map_content_title {
	color:white;
	background-image:url("pictures/index/content_title_bg3.png");
}
#fit_content_title {
	color:white;
	background-image:url("pictures/index/content_title_bg4.png");
}

#intro_content, #map_content, #fit_content {
    position:relative;
	margin:15px 30px 10px 00px;
    padding:10px 0px 20px 30px;
	border-top:6px solid #aa7;
}
.fit_child {
	float:right;
	margin-top:20px;
	margin-right:50px;
	padding:25px;
	background-color:#ecf;
}
#fit_child1 {
	background-image:url("pictures/index/fit_content_bg1.png");
}
#fit_child2 {
	background-image:url("pictures/index/fit_content_bg2.png");
}
#fit_child3 {
	background-image:url("pictures/index/fit_content_bg3.png");
}
#intro_child {
	float:right;
	margin-top:20px;
	margin-right:50px;
	padding:25px;
	background-color:rgba(208,239,255,0.4);
}
.map {
	float:right;
	margin-top:20px;
	margin-right:50px;
	text-align:center;
	background-color:#071224;
}
.map_child {
	float:right;
	color:#fe4;
}
.map_img {
	margin-top:10px;
	width:60px;
}
.map_link {
	color:#007;
	background-color:#3a8;
}
.map_link:hover {
	color:#3e8;
	background-color:#740;
}
.map_invert {
	color:#fce;
	background-color:#817;
}
