body {
	margin:0px;
	text-align:center;
}
#whole_div {
	width:100%;
	max-width:900px;
	text-align:left;
	display:inline-block;
	background-color:#ddb;
}
#head_div {
	position:relative;
	margin:0 auto;
	width:100%;
	background-color:#071224;
}
#head_out {
	position:absolute;
	width:100%;
	height:100%;
}
#head_in {
	position:relative;
	margin-right:80px;
	width:auto;
	height:100%;
	overflow:hidden;
    text-align:center;
	background-image:url(pictures/title_bg4.png);
}
#head_in_img {
	position:relative;
    display:inline-block;
}
#title_img {
	height:240px;
	margin:0px 10px;
	float:right;
}
.navi_div_min:hover,.navi_div_child:hover {
	background-color:#302;
	cursor:pointer;
}
.navi_div_child, .navi_div_min {
	float:right;
    text-align:center;
    font-size:22px;
}
.navi_div_child {
	width:10%;
	display:none;
	color:yellow;
	background-color:#254;
}
.navi_div_min {
	width:20%;
	color:white;
	background-color:#254;
}
#aside_div {
	position:relative;
	float:left;
	margin-top:20px;
	width:100%;
	max-width:400px;
	background-color:#bcd;
}
#aside_div_update {
	margin-top:20px;
}
#aside_div_update, #aside_div_funny, #aside_div_download {
	position:relative;
	border-top:3px solid #204;
}
.aside_div_title {
    position:absolute;
    right:0px;
    width:24px;
	background-color:#302;
	color:#fff;
	font-size:24px;
	z-index:28;
}
#aside_div_funny_content {
    position:relative;
    margin:10px;
    overflow:auto;
}
#aside_div_update_content, #aside_div_download_content {
    position:relative;
    margin:10px 30px 10px 10px;
    height:300px;
    overflow:auto;
}
#aside_img1 {
	width:100%;
}
.intro_child {
	float:right;
	margin-top:20px;
	margin-left:20px;
	border-top:3px solid green;
}
#intro_vertical {
	background-color:#fac;
}
.map {
	float:right;
	margin-top:20px;
	margin-left:20px;
	text-align:center;
	background-color:#071224;
}
.map_child {
	float:right;
	color:#fe4;
}
.map_img {
	margin-top:10px;
	width:60px;
}
.map_link {
	color:#007;
	background-color:#3a8;
}
.map_link:hover {
	color:#3e8;
	background-color:#740;
}
.map_invert {
	color:#fce;
	background-color:#817;
}
#bottom_div {
	position:relative;
	width:100%;
	margin-top:20px;
	background-color:#4e547e;
	text-align:left;
}
#bottom_icon {
	margin:5px 20px;
	height:60px;
    vertical-align:middle;
    display:inline-block;
}
#bottom_content {
	font-size:14px;
	font-family:Serif;
    vertical-align:middle;
    display:inline-block;
}
