body {
	margin:0px;
	text-align:center;
}
#whole_div {
	width:100%;
	max-width:1200px;
	text-align:left;
	display:inline-block;
}
#head_div {
	position:relative;
	margin:0 auto;
	width:100%;
	background-color:#071224;
}
#head_out {
	position:absolute;
	width:100%;
	height:100%;
}
#head_in {
	position:relative;
	margin-right:80px;
	width:auto;
	height:100%;
	overflow:hidden;
    text-align:center;
	background-image:url(pictures/index/title_bg.png);
}
#head_in_img {
	position:relative;
    display:inline-block;
}
#title_img {
	height:240px;
	margin:0px 10px;
	float:right;
}
.navi_div_min:hover,.navi_div_child:hover {
	background-color:#302;
	cursor:pointer;
}
.navi_div_child, .navi_div_min {
	float:right;
    text-align:left;
    font-size:22px;
}
.navi_div_child {
	width:10%;
	display:none;
	color:yellow;
	background-color:#254;
}
.navi_div_min {
	position:relative;
	width:20%;
	color:white;
	background-color:#254;
}
.navi_div_min_bg {
    position:absolute;
    width:100%;
    height:100%;
}
.navi_div_min_inner {
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
}
#aside_div {
	position:relative;
	float:right;
	margin-top:20px;
	width:100%;
	max-width:450px;
	background-color:#bcd;
}
#aside_div_update, #aside_div_funny, #aside_div_download {
	position:relative;
	width:100%;
}
.aside_div_title {
    position:absolute;
    width:60px;
    height:180px;
	right:10px;
	top:0px;
	color:#fff;
	background-image:url("pictures/index/aside_title_bg2.png");
	z-index:88;
}
.aside_div_content {
    position:relative;
    margin:40px 20px 15px 15px;
    padding:20px 60px 20px 10px;
	border-top:3px solid #303304;
}
#aside_img1 {
	width:100%;
}
#intro_whole, #map_whole {
    position:relative;
	float:left;
	margin:20px 0px 0px 0px;
	padding-left:20px;
	background-image:url("pictures/index/content_lb.png");
	background-repeat:no-repeat;
	background-position:bottom left;
}
.content_title {
    position:absolute;
    width:60px;
    height:180px;
	right:10px;
	top:0px;
	z-index:88;
}
#intro_content_title {
	background-image:url("pictures/index/content_title_bg2.png");
}
#map_content_title {
	color:white;
	background-image:url("pictures/index/content_title_bg3.png");
}

#intro_content, #map_content {
    position:relative;
	margin:40px 30px 10px 00px;
    padding:20px 0px 20px 30px;
	border-top:6px solid #aa7;
}
#intro_child {
	float:right;
	margin-top:20px;
	margin-right:50px;
	padding:25px;
	background-color:#cef;
}
.map {
	float:right;
	margin-top:20px;
	margin-right:50px;
	text-align:center;
	background-color:#071224;
}
.map_child {
	float:right;
	color:#fe4;
}
.map_img {
	margin-top:10px;
	width:60px;
}
.map_link {
	color:#007;
	background-color:#3a8;
}
.map_link:hover {
	color:#3e8;
	background-color:#740;
}
.map_invert {
	color:#fce;
	background-color:#817;
}
#bottom_div {
	position:relative;
	width:100%;
	margin-top:20px;
	background-color:#4e547e;
	text-align:left;
}
#bottom_icon {
	margin:5px 0px 5px 20px;
	height:60px;
    vertical-align:middle;
    display:inline-block;
}
#bottom_content {
	margin-left:20px;
	font-size:14px;
	font-family:Serif;
    vertical-align:middle;
    display:inline-block;
}
