body {
	position:relative;
	margin:0px;
	background-color:#071224;
	background: linear-gradient(to bottom,#071224, #071224, #071224, #4e547e);
	text-align:left;
}
div {
	position:relative;
}
#whole_div {
	margin:0 auto;
	width:1280px;
	height:2060px;
	border-left:2px solid #5c017a;
	border-right:2px solid #5c017a;
	background-image:url(pictures/starandlight.png);
	/*overflow:hidden;*/
}
#yk_switch_pic {
	position:absolute;
	margin:110px -25px;
	width:582px;
	height:413px;
	overflow:hidden;
}
#yk_switch_link {
	position:absolute;
	margin:60px 60px;
	border:medium none;
	width:450px;
	height:300px;
}
#bottom_div {
	position:absolute;
	bottom:0px;
	width:100%;
	height:100px;
}
img {
}
#icon {
	float:right;
	height:80px;
}
#html5 {
	float:right;
}
#by-nc-nd {
	margin:20px;
	float:right;
}
#yk_hvno {
	position:absolute;
	margin:80px 505px;
	z-index:22;
}
#hommn_hvno {
	position:absolute;
	margin:580px 965px;
}
#oymr_hvno {
	position:absolute;
	margin:780px 35px;
}
#lp_hvno {
	position:absolute;
	margin:1180px 735px;
}
#title_img6 {
	position:absolute;
	right:0px;
	width:80px;
	margin-top:10px;
	animation:runright 4s ease-out 0s 1;
	-webkit-animation:runright 4s ease-out 0s 1;
}
.yk_switch {
	opacity:1;
}
.yk_switch_start {
	opacity:0;
}
.yk_switch_ease-out {
	opacity:1;
	animation:ease_out 5s ease-out 0s 1;
	-webkit-animation:ease_out 5s ease-out 0s 1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
#yk_switch_up {
	position:absolute;
	margin:0px 80px;
}
#yk_switch_down {
	position:absolute;
	margin:350px 50px;
}
#yk_pic {
	position:absolute;
	margin:0px;
}
.yk_switch_pic_none {
	display:none;
}
.yk_switch_pic_animation {
	display:inline;
	animation:ease_in 1s ease-out 0s 1;
	-webkit-animation:ease_in 1s ease-out 0s 1;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
@keyframes ease_in {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes ease_in {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes ease_out {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes ease_out {
	0% {opacity:1;}
	100% {opacity:0;}
}
@keyframes runright {
	0% {right:30px;opacity:0.3;}
	100% {right:0px;opacity:1;}
}
@-webkit-keyframes runright {
	0% {right:30px;opacity:0.3;}
	100% {right:0px;opacity:1;}
}

.yk_pic_switch1 {
    animation:1s yk_pic_switch1 ease-out 0s 1;
    -webkit-animation:1s yk_pic_switch1 ease-out 0s 1;
}
.yk_pic_switch2 {
    animation:1s yk_pic_switch2 ease-out 0s 1;
    -webkit-animation:1s yk_pic_switch2 ease-out 0s 1;
}
.yk_pic_switch3 {
    animation:1s yk_pic_switch3 ease-out 0s 1;
    -webkit-animation:1s yk_pic_switch3 ease-out 0s 1;
}
.yk_pic_switch4 {
    animation:1s yk_pic_switch4 ease-out 0s 1;
    -webkit-animation:1s yk_pic_switch4 ease-out 0s 1;
}
.yk_pic_switch5 {
    animation:1s yk_pic_switch5 ease-out 0s 1;
    -webkit-animation:1s yk_pic_switch5 ease-out 0s 1;
}
.yk_pic_switch6 {
    animation:1s yk_pic_switch6 ease-out 0s 1;
    -webkit-animation:1s yk_pic_switch6 ease-out 0s 1;
}
.yk_pic_switch7 {
    animation:1s yk_pic_switch7 ease-out 0s 1;
    -webkit-animation:1s yk_pic_switch7 ease-out 0s 1;
}
.yk_pic_switch1, .yk_pic_switch2, .yk_pic_switch3, .yk_pic_switch4, .yk_pic_switch5, .yk_pic_switch6, .yk_pic_switch7 {
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}

@keyframes yk_pic_switch1 {
    100% {margin-top:0px;}
}
@keyframes yk_pic_switch2 {
    100% {margin-top:-413px;}
}
@keyframes yk_pic_switch3 {
    100% {margin-top:-826px;}
}
@keyframes yk_pic_switch4 {
    100% {margin-top:-1239px;}
}
@keyframes yk_pic_switch5 {
    100% {margin-top:-1652px;}
}
@keyframes yk_pic_switch6 {
    100% {margin-top:-2065px;}
}
@keyframes yk_pic_switch7 {
    100% {margin-top:-2478px;}
}
@-webkit-keyframes yk_pic_switch1 {
    100% {margin-top:0px;}
}
@-webkit-keyframes yk_pic_switch2 {
    100% {margin-top:-413px;}
}
@-webkit-keyframes yk_pic_switch3 {
    100% {margin-top:-826px;}
}
@-webkit-keyframes yk_pic_switch4 {
    100% {margin-top:-1239px;}
}
@-webkit-keyframes yk_pic_switch5 {
    100% {margin-top:-1652px;}
}
@-webkit-keyframes yk_pic_switch6 {
    100% {margin-top:-2065px;}
}
@-webkit-keyframes yk_pic_switch7 {
    100% {margin-top:-2478px;}
}
