* {
	font-family:TW-Kai,DFKai-SB,serif;
	/*font-family:TW-Sung,MingLiU,Serif;*/
}
.clear_float {
	clear:both;
	width:100%;
	height:1px;
	margin-top:-1px;
}
.vertical_middle {
    position:relative;
    margin-left:-1px;
    width:1px;
    height:100%;
    vertical-align:middle;
    display:inline-block;
}
a img {
	border:none;
}
a {
	text-decoration:none;
}
