* {
	font-family:TW-Kai,DFKai-SB,serif;
	/*font-family:TW-Sung,MingLiU,Serif;*/
}
.clear_float {
	clear:both;
	width:100%;
	height:1px;
	margin-top:-1px;
}
.vertical_middle {
    position:relative;
    margin-left:-1px;
    width:1px;
    height:100%;
    vertical-align:middle;
    display:inline-block;
}
a img {
	border:none;
}
a {
	text-decoration:none;
}

body {
	margin:0px;
	text-align:center;
}
#whole_div {
	width:1200px;
	text-align:center;
	display:inline-block;
}
#head_div {
	position:relative;
	margin:0 auto;
	width:100%;
	height:240px;
}
#head_out, #head_title_out {
	position:absolute;
	margin:0px;
	width:100%;
	height:100%;
}
#head_in {
	position:relative;
	margin-right:80px;
	width:auto;
	height:100%;
	overflow:hidden;
    text-align:center;
}
#head_in_img {
	position:relative;
    display:inline-block;
}
#title_img {
	height:240px;
	margin:0px 10px;
	float:right;
	background-color:#071224;
}

#navi_div {
	margin-top:10px;
}
.navi_div_min:hover,.navi_div_child:hover {
	background-color:#302;
	cursor:pointer;
}
.navi_div_child, .navi_div_min {
	float:right;
    text-align:left;
    font-size:22px;
}
.navi_div_child {
	position:relative;
	width:10%;
	display:none;
	color:#032;
	background-color:#254;
}
.navi_div_min {
	position:relative;
	width:20%;
	color:white;
	background-color:#254;
}
.navi_div_min_bg {
    position:absolute;
    width:100%;
    height:100%;
}
.navi_div_min_inner {
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
}

#content_div {
	margin-top:20px;
}

#bottom_div {
	position:relative;
	width:100%;
	margin-top:20px;
	background-color:rgba(80,85,128,0.5);
	text-align:left;
}
#bottom_icon {
	margin:5px 0px 5px 20px;
	height:60px;
    vertical-align:middle;
    display:inline-block;
}
#bottom_content {
	margin-left:20px;
	font-size:14px;
	font-family:Serif;
    vertical-align:middle;
    display:inline-block;
}
