html {
	margin:0px;
}
body {
	margin:0px;
}
div {
}
#yk_switch_pic {
	position:relative;
	float:left;
	margin-top:40px;
	width:582px;
	height:413px;
	overflow:hidden;
	text-align:left;
	background-color:#071224;
	background-image:url(../pictures/starandlight.png);
	background-position:0px -800px;
}
#whole_div {
	position:relative;
	margin:0 auto;
	width:100%;
	max-width:1366px;
	text-align:center;
	z-index:1;
}

/* 做頭
*/

.color_red {
	color:#f00;
}
.color_white {
	color:#fff;
}
.color_bg {
	color:#fff;
}
.clear_float {
	margin-top:-1px;
	height:1px;
	clear:both;
}
.vertical_middle {
	position:relative;
	margin-left:-1px;
	width:1px;
	height:100%;
	vertical-align:middle;
	display:inline-block;
}
#light_effection {
	position:fixed;
	margin:0px;
	width:100%;
	height:100%;
	background-color:#FFF;
	opacity:0.7;
	z-index:100;
	display:none;
}
#head_div {
	position:relative;
	margin:0px;
	width:auto;
	height:auto;
	background-color:#071224;
	background-image:url(../pictures/starandlight.png);
	background-position:0px -500px;
}
#title_img6 {
	position:relative;
	float:right;
	width:80px;
	animation:runright 25s ease-out 0s infinite;
	-webkit-animation:runright 25s ease-out 0s infinite;
}
#head_main_out {
	position:absolute;
	width:100%;
	height:100%;
	text-align:left;
}
#head_main {
	position:relative;
	width:50%;
	vertical-align:middle;
	display:inline-block;
	background-image:url(../pictures/title_bg.png);
    animation:7s title_bg_anim ease 0s infinite;
    -webkit-animation:7s title_bg_anim ease 0s infinite;
}
@keyframes title_bg_anim {
    0% {background-position:0px 0px;opacity:0.1;}
    40% {opacity:1;}
    60% {opacity:1;}
    100% {background-position:11400px 0px;opacity:0.1;}
}
@-webkit-keyframes title_bg_anim {
    0% {background-position:0px 0px;}
    100% {background-position:11400px 0px;}
}
#cj_yk_hvno {
	position:relative;
	float:right;
}
#bottom_div {
	position:relative;
	bottom:0px;
	width:100%;
	margin-top:40px;
	padding-top:40px;
	border-top:2px solid #5c017a;
}
#bottom_div_inner {
	position:relative;
	width:100%;
	margin:0px;
	background-color:#4e547e;
	padding:10px 0px;
}
#icon {
	float:left;
	height:80px;
}
#html5 {
	float:left;
}
#by-nc-nd {
	margin:20px;
	float:left;
}
@keyframes runright {
	0% {right:30px;opacity:0.3;}
	20% {right:0px;opacity:1;}
	90% {right:0px;opacity:1;}
	100% {right:0px;opacity:0;}
}
@-webkit-keyframes runright {
	0% {right:30px;opacity:0.3;}
	20% {right:0px;opacity:1;}
	90% {right:0px;opacity:1;}
	100% {right:0px;opacity:0;}
}

/*頭尾
*/


#cj_odye {
	
}
.six_detail {
	position:absolute;
	display:none;
	width:420px;
	right:30px;
	bottom:10px;
	font-size:30px;
}
#six_big {
	position:absolute;
	width:120px;
	margin-top:80px;
	margin-left:80px;
	font-size:120px;
}
#six_div {
	position:relative;
	width:740px;
	height:413px;
	margin-top:40px;
	float:right;
	background-image:url(../pictures/six_bg2.png);
}
.six_single, .six_single_selected {
	position:relative;
	width:40px;
	height:109px;
	margin-top:40px;
	margin-left:30px;
	margin-right:10px;
	font-size:34px;
	color:white;
	float:right;
	cursor:crosshair;
}
.six_single {
	background-image:url(../pictures/six_single.png);
}
.six_single_selected, .six_single:hover {
	background-image:url(../pictures/six_single2.png);
}
img {
}
#yk_index_animation {
	position:relative;
	float:right;
	margin-top:40px;
	margin-right:1%;
	width:29%;
	max-width:400px;
	max-height:400px;
}
.divi_f_topical {
	position:relative;
	float:right;
	width:70%;
	max-width:965px;
	height:400px;
	margin-top:40px;
	border-top:2px solid #5c017a;
	font-size:30px;
	overflow:auto;
}
.divi_f_title {
	position:relative;
	float:right;
	width:30px;
	margin-right:30px;
	background-color:#302;
	color:#FFF;
	display:inline-block;
	vertical-align:top;
}
.divi_f_content {
	position:relative;
	margin-right:80px;
	vertical-align:top;
}
